@import url('products.css');
@import url('login.css');
@import url('menu.css');
@import url('funcionarios.css');
@import url('vendas.css');
@import url('ordens.css');
@import url('pagamentos.css');
@import url('caixa.css');
@import url('notificacoes.css');
@import url('fornecedores.css');

